body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    background-color: slateblue;
}
.calendar-calculator{
    background-color: white;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    overflow: hidden;
}
.month-name{
    margin: 0;
    background-color: orangered;
    color: white;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}
.day-name{
    font-size: 20px;
    font-weight: 300;
    color: darkgray;
}
.day-number{
    font-size: 80px;
    font-weight: bold;
    margin: 0;
}
.year{
    margin: 20px 0;
    font-size: 20px;
    color: darkgray;
    font-weight: 500;
}